img#nav-logo{
	display: block; /* or inline-block */ 
	height: auto;
    max-width: 1.2em;
    width: auto;
}

h1.post-title{
	text-align: center;
	font-weight: normal;
}
footer #contact-info-cs{
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}